! Main X config
Xft.antialias:	1
Xft.hinting:	1
Xft.autohint:	0
Xft.hintstyle:	hintmedium
Xft.rgba:	rgb
Xft.lcdfilter:	lcddefault
Xcursor.theme: BreezeX-Light
Xcursor.size: 32

! St visual
st.borderpx: 0
st.alpha: 0.8

! Fonts
dusk.font1: NotoSansM NF:semibold:size=10
dusk.font2:
dmenu.font: Ubuntu Nerd Font:size=12
xmenu.font: Ubuntu Nerd Font:size=12
st.font: NotoSansM NF:semibold:size=13:antialias=true:autohint=true
! st.font: Terminess Nerd Font Mono:size=17:hintstyle=hintlight
! st.font: IosevkaTerm Nerd Font Mono:medium:size=14:antialias=true:autohint=true
! st.font: Mononoki Nerd Font Mono:medium:size=14:antialias=true:autohint=true

! Theme
#include ".Xtheme"
